extends ./layouts/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ex auctor, vestibulum nisi a, laoreet erat. Nunc euismod a lectus ac cursus. In dapibus sodales nisi. Maecenas eu ultrices massa. Etiam ut facilisis tortor, eu dapibus neque. Praesent vitae semper ligula. In sit amet pharetra sem, vel dignissim mauris. 
                p Donec nec pulvinar lorem, quis finibus quam. Vivamus sed dolor ex. Proin at venenatis sem, id luctus sapien. Vivamus dapibus sagittis ex, eget convallis ipsum placerat id. Mauris sit amet tortor risus. Cras ornare scelerisque justo. Proin varius nunc ligula, sed suscipit massa volutpat at.
            .col-md-6  
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
    
        include ./layouts/bloque-viajes 

    .descuento 
        .container 
            .row    
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2.500 USD

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layouts/bloque-testimoniales 